body {
    margin: 0;
    padding: 0;
    background-image: url('./background.png');
    background-size: 30px 30px;
    background-color: #e5e5e5;
}

#root {
    display: grid;
    grid-template-rows: repeat(12, 70px);
    place-items: center;
}

h2 {
    font-family: Arial;
    user-select: none;
    padding: 0 5px;
    text-align: center;
}
