html {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background: transparent;
}

body {
	margin: 0;
	padding: 0;
	background-image: url('./background.png');
	background-size: 30px 30px;
	background-color: #e5e5e5;
}

main {
	display: grid;
	grid-auto-rows: minmax(70px, max-content);
	place-items: center;
	padding-bottom: 48px;
}

h2 {
	font-family: inherit;
	user-select: none;
	padding: 0 5px;
	text-align: center;
}
