@use './utils.scss' as utils;

.bang {
	@include utils.main;
	@include utils.focus;

	height: 24px;
	width: 24px;

	svg {
		outline: 0;
		background: utils.$background;

		&[data-state='mousedown'] {
			background: radial-gradient(10px circle at center, utils.$accent 50%, utils.$background 50%);
		}

		path {
			fill: utils.$background;

			&:nth-of-type(2) {
				fill: utils.$negative-space;
			}
		}
	}
}
