@mixin main() {
	cursor: default;
	user-select: none;
	font-family: Arial;
	word-break: break-word;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	touch-action: none;
}

@mixin focus() {
	&:focus {
		outline: #b4b4b4 solid 3px;
	}
}
