@import './main.scss';

.message {
	@include main();
	@include focus();
	height: fit-content;
	min-height: 24px;
	width: fit-content;
	min-width: 29.5px;
	background: linear-gradient(to top, rgb(51, 51, 51) 0%, rgb(76, 76, 76) 100%);
	border-radius: 5px;

	p {
		margin: auto 0;
		line-height: 14px;
		font-size: 13px;
		color: #f7f7f7;
	}
}
