@use './utils.scss' as utils;

.message {
	@include utils.main;
	@include utils.focus;

	height: fit-content;
	min-height: 24px;
	width: fit-content;
	min-width: 29.5px;
	background: utils.$background-gradient;
	border-radius: 5px;

	p {
		margin: auto 0;
		line-height: 14px;
		font-size: 13px;
		color: utils.$white;
		outline: 0;
		padding: 5px;

		&.mousedown {
			padding: 6px 4px 4px 6px;
		}
	}
}
