@use './utils.scss' as utils;

.object {
	@include utils.main;
	height: fit-content;
	min-height: 24px;
	width: fit-content;
	min-width: 29.5px;
	max-width: 100%;
	background: utils.$foreground;

	svg {
		height: 24px;
		margin: 0;
		position: absolute;
		top: 0;
		left: 5px;

		path:nth-of-type(1) {
			fill: utils.$red;
		}

		path:nth-of-type(2) {
			fill: utils.$background;
		}
	}

	p {
		height: fit-content;
		min-height: 14px;
		min-width: 19.5px;
		margin: 4px 0;
		padding: 1px 5px;
		line-height: 14px;
		font-size: 13px;
		background: utils.$background;
		color: utils.$white;
	}

	&[data-state='inactive'] {
		background: utils.$foreground-inactive;

		p {
			background: utils.$background-inactive;
		}
	}
}
