@import './main';

.radiogroup {
	@include main;
	@include focus;
	height: fit-content;
	width: fit-content;
	max-width: 100%;
	background: unset;

	> div {
		@include focus;
		height: fit-content;
		width: fit-content;
		display: flex;
		float: right;
		clear: right;

		p {
			height: inherit;
			width: fit-content;
			margin: 0;
			float: right;
			text-align: right;
			vertical-align: middle;
			white-space: nowrap;
			font-size: 16px;
			font-weight: bold;
			color: black;
			outline: 0;
		}

		div {
			height: inherit;
			width: 20.1px;
			display: grid;
			position: relative;
			background: #333;
			outline: 0;

			svg {
				height: 20px;
				width: 20px;
				place-self: center;
			}
		}
	}
}
