@import './main.scss';

.radiogroup {
    @include main();
    height: fit-content;
    width: fit-content;
    max-width: 100%;
    background: unset;
    overflow: hidden;

    > div {
        width: fit-content;
        display: flex;
        float: right;
        clear: right;

        p {
            height: inherit;
            width: fit-content;
            margin: 0;
            float: right;
            text-align: right;
            vertical-align: middle;
            overflow-x: hidden;
            font-size: 16px;
            font-weight: bold;
            color: black;
        }

        div {
            height: inherit;
            width: 20px;
            background: #333333;
            position: relative;

            svg {
                height: 20px;
                width: 20px;
            }
        }
    }
}
