@import './main.scss';

.textbutton {
    @include main();
    height: 24px;
    width: fit-content;
    min-width: 80px;
    max-width: calc(100% - 20px);
    padding: 0 10px;
    overflow: hidden;
    line-height: 24px;
    font-size: 13.5px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
