@use './utils.scss' as utils;

.umenu {
	@include utils.main;
	height: 24px;
	// width set by component
	max-width: 100%;
	min-width: 40px;
	text-align: left;
	font-size: 13px;
	color: utils.$white;
	background: utils.$background-gradient;

	@include utils.focus;

	> div {
		anchor-name: --umenu;
		outline: 0;

		p {
			line-height: 24px;
			margin: 0;
			padding: 0 22px 0 8px;
			text-align: left;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		svg {
			height: 24px;
			position: absolute;
			top: 0;
			right: 5px;

			path {
				fill: utils.$white;
			}
		}
	}

	ul {
		height: fit-content;
		max-width: max-content;
		margin: 0;
		padding: 0;
		position-anchor: --umenu;
		top: anchor(--umenu bottom);
		left: anchor(--umenu right);
		z-index: 10;
		outline: 0;
		list-style: none;
		white-space: normal;
		overflow: hidden;
		background: utils.$background-lighter;
		border: 1px solid black;
		border-radius: 4px;

		li {
			min-height: 13px;
			padding: 5px 20px;
			word-break: normal;
			overflow-wrap: anywhere;
			text-align: justify;
			outline: 0;
		}
	}
}
