// colour variables

$accent: rgb(206 229 232);
$background: rgb(51 51 51);
$background-lighter: rgb(57 57 57);
$background-gradient: linear-gradient(to top, rgb(51 51 51) 0%, rgb(76 76 76) 100%);
$background-inactive: rgb(180 157 124);
$foreground: rgb(128 128 128);
$foreground-inactive: rgb(151 126 109);
$negative-space: rgb(89 89 89);
$red: rgb(253 183 170);
$white: rgb(247 247 247);

// mixins

@mixin main() {
	position: relative;
	font-family: Arial, sans-serif;
	text-size-adjust: 100%;
	word-break: normal;
	overflow-wrap: anywhere;
	touch-action: none;
	user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	cursor: default;
}

@mixin focus() {
	&:focus {
		outline: rgb(180 180 180) solid 3px;
		z-index: 10;
	}
}
