@mixin main() {
	position: relative;
	font-family: Arial, sans-serif;
	text-size-adjust: 100%;
	word-break: normal;
	overflow-wrap: anywhere;
	touch-action: none;
	user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	cursor: default;
}

@mixin focus() {
	&:focus {
		outline: #b4b4b4 solid 3px;
		z-index: 10;
	}
}
